.teleport-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  height: 30px;
}

.teleport-button {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}

.teleport-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
} 