@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
}

@keyframes pulseWhite {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    opacity: 0.7;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    opacity: 1;
  }
}

/* avatar style */
.avatar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgba(5, 222, 250, 1);
  box-shadow: 0 0 10px rgba(5, 222, 250, 1);
  border: 2px solid transparent;
  object-fit: cover;
  z-index: 100;
  animation: pulseWhite 2s infinite;
}

/* plusMinus style */
.plusMinus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in;
  cursor: pointer;
  border: 2px solid transparent;
}

.plusMinus:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* border style */
.border {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  transform: scale(1);
  animation: pulseWhite 2s infinite;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.border:hover {
  transform: scale(1.1);
}

/* minimap style */
.minimap {
  margin: 1rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  width: 18rem;
  height: 18rem;
  border: 4px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

@media (max-width: 1024px) {
  .minimap {
    width: 17rem;
    height: 17rem;
  }
}

@media (max-width: 768px) {
  .minimap {
    width: 16rem;
    height: 16rem;
  }
}

/* minimapOuter style */
.minimapOuter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18rem;
  height: 18rem;
  overflow: hidden;
}

/* minimapInner style */
.minimapInner {
  position: relative;
  display: flex;
  top: 50%;
  left: 50%;
  width: 18rem;
  height: 18rem;
  transform-origin: 50% 50%;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .minimapInner {
    width: 17rem;
    height: 17rem;
  }
}

@media (max-width: 768px) {
  .minimapInner {
    width: 16rem;
    height: 16rem;
  }
}
/* text style */
.text {
  position: relative;
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 3;
}

/* scale style */
.scale {
  position: absolute;
  width: 13rem;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 10px black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px solid black;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* minimapObject style */
.minimapObject {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);

  /* border: 2px solid rgba(88, 88, 88, 0.5); */
}

/* minimapObject style */
.imageObject {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:
    linear-gradient(to bottom, transparent 95%, rgba(0, 0, 0, 0.2) 20%) 0 0 /
      100% 40px repeat-y,
    linear-gradient(to right, transparent 38px, rgba(0, 0, 0, 0.2) 38px) 0 0 /
      40px 100% repeat-x transparent;
}

.textObject {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 2px solid rgba(88, 88, 88, 0.5); */
}

.direction {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  z-index: 2000;
}

.east {
  top: 50%;
  right: 0;
}

.west {
  top: 50%;
  left: 0;
}

.north {
  bottom: 0;
  left: 50%;
}

.south {
  top: 0;
  left: 50%;
}
