.gaesup-editor {
    position: fixed;
    top: 0;
    left: var(--app-sidebar-width, 128px);
    width: calc(100vw - var(--app-sidebar-width, 128px));
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
}