.teleport {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 1rem;
  font-size: 0.8rem;
  border-radius: 50%;
}

.teleport:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
} 